.midsize-assumptions {
  ul.lst-kix_lk9e1l4y6pjk-6 {
    list-style-type: none;
  }

  ul.lst-kix_lk9e1l4y6pjk-5 {
    list-style-type: none;
  }

  ul.lst-kix_lk9e1l4y6pjk-4 {
    list-style-type: none;
  }

  ul.lst-kix_lk9e1l4y6pjk-3 {
    list-style-type: none;
  }

  ul.lst-kix_lk9e1l4y6pjk-8 {
    list-style-type: none;
  }

  ul.lst-kix_lk9e1l4y6pjk-7 {
    list-style-type: none;
  }

  .lst-kix_aus0wjp6e4jb-0 > li:before {
    content: "\0025cf   ";
  }

  ul.lst-kix_lk9e1l4y6pjk-2 {
    list-style-type: none;
  }

  ul.lst-kix_lk9e1l4y6pjk-1 {
    list-style-type: none;
  }

  ul.lst-kix_lk9e1l4y6pjk-0 {
    list-style-type: none;
  }

  .lst-kix_aus0wjp6e4jb-1 > li:before {
    content: "\0025cb   ";
  }

  ul.lst-kix_aus0wjp6e4jb-0 {
    list-style-type: none;
  }

  ul.lst-kix_aus0wjp6e4jb-1 {
    list-style-type: none;
  }

  ul.lst-kix_aus0wjp6e4jb-2 {
    list-style-type: none;
  }

  .lst-kix_aus0wjp6e4jb-2 > li:before {
    content: "\0025a0   ";
  }

  ul.lst-kix_aus0wjp6e4jb-3 {
    list-style-type: none;
  }

  .lst-kix_aus0wjp6e4jb-4 > li:before {
    content: "\0025cb   ";
  }

  ul.lst-kix_aus0wjp6e4jb-4 {
    list-style-type: none;
  }

  ul.lst-kix_aus0wjp6e4jb-5 {
    list-style-type: none;
  }

  ul.lst-kix_aus0wjp6e4jb-6 {
    list-style-type: none;
  }

  .lst-kix_aus0wjp6e4jb-3 > li:before {
    content: "\0025cf   ";
  }

  ul.lst-kix_aus0wjp6e4jb-7 {
    list-style-type: none;
  }

  ul.lst-kix_aus0wjp6e4jb-8 {
    list-style-type: none;
  }

  .lst-kix_aus0wjp6e4jb-6 > li:before {
    content: "\0025cf   ";
  }

  .lst-kix_aus0wjp6e4jb-5 > li:before {
    content: "\0025a0   ";
  }

  .lst-kix_aus0wjp6e4jb-7 > li:before {
    content: "\0025cb   ";
  }

  .lst-kix_aus0wjp6e4jb-8 > li:before {
    content: "\0025a0   ";
  }

  .lst-kix_sg712et45snh-7 > li:before {
    content: "\0025cb   ";
  }

  .lst-kix_50t07fy6fdzp-0 > li:before {
    content: "\0025cf   ";
  }

  .lst-kix_50t07fy6fdzp-2 > li:before {
    content: "\0025a0   ";
  }

  .lst-kix_sg712et45snh-5 > li:before {
    content: "\0025a0   ";
  }

  .lst-kix_sg712et45snh-3 > li:before {
    content: "\0025cf   ";
  }

  .lst-kix_ol41fl6sp83t-8 > li:before {
    content: "\0025a0   ";
  }

  .lst-kix_ol41fl6sp83t-4 > li:before {
    content: "\0025cb   ";
  }

  .lst-kix_ol41fl6sp83t-6 > li:before {
    content: "\0025cf   ";
  }

  .lst-kix_50t07fy6fdzp-8 > li:before {
    content: "\0025a0   ";
  }

  .lst-kix_ol41fl6sp83t-2 > li:before {
    content: "\0025a0   ";
  }

  .lst-kix_50t07fy6fdzp-4 > li:before {
    content: "\0025cb   ";
  }

  .lst-kix_50t07fy6fdzp-6 > li:before {
    content: "\0025cf   ";
  }

  .lst-kix_6br6f2ayrnnl-7 > li:before {
    content: "\0025cb   ";
  }

  .lst-kix_ol41fl6sp83t-0 > li:before {
    content: "\0025cf   ";
  }

  .lst-kix_sg712et45snh-1 > li:before {
    content: "\0025cb   ";
  }

  .lst-kix_q0wckymscz7h-8 > li:before {
    content: "\0025a0   ";
  }

  .lst-kix_lk9e1l4y6pjk-5 > li:before {
    content: "\0025a0   ";
  }

  .lst-kix_lk9e1l4y6pjk-7 > li:before {
    content: "\0025cb   ";
  }

  .lst-kix_q0wckymscz7h-4 > li:before {
    content: "\0025cb   ";
  }

  .lst-kix_q0wckymscz7h-6 > li:before {
    content: "\0025cf   ";
  }

  .lst-kix_lk9e1l4y6pjk-1 > li:before {
    content: "\0025cb   ";
  }

  .lst-kix_lk9e1l4y6pjk-3 > li:before {
    content: "\0025cf   ";
  }

  .lst-kix_q0wckymscz7h-2 > li:before {
    content: "\0025a0   ";
  }

  .lst-kix_aqi0npxqv3ej-0 > li:before {
    content: "\0025cf   ";
  }

  .lst-kix_q0wckymscz7h-0 > li:before {
    content: "\0025cf   ";
  }

  .lst-kix_aqi0npxqv3ej-2 > li:before {
    content: "\0025a0   ";
  }

  ul.lst-kix_50t07fy6fdzp-8 {
    list-style-type: none;
  }

  ul.lst-kix_50t07fy6fdzp-7 {
    list-style-type: none;
  }

  .lst-kix_aqi0npxqv3ej-6 > li:before {
    content: "\0025cf   ";
  }

  .lst-kix_aqi0npxqv3ej-8 > li:before {
    content: "\0025a0   ";
  }

  ul.lst-kix_50t07fy6fdzp-6 {
    list-style-type: none;
  }

  ul.lst-kix_yeksmn5dx7rs-8 {
    list-style-type: none;
  }

  ul.lst-kix_50t07fy6fdzp-5 {
    list-style-type: none;
  }

  ul.lst-kix_yeksmn5dx7rs-7 {
    list-style-type: none;
  }

  ul.lst-kix_50t07fy6fdzp-4 {
    list-style-type: none;
  }
} 