.smallsize-assumptions {
  ul.lst-kix_lk9e1l4y6pjk-6 {
      list-style-type: none
  }

  ul.lst-kix_lk9e1l4y6pjk-5 {
      list-style-type: none
  }

  ul.lst-kix_lk9e1l4y6pjk-4 {
      list-style-type: none
  }

  ul.lst-kix_lk9e1l4y6pjk-3 {
      list-style-type: none
  }

  ul.lst-kix_lk9e1l4y6pjk-8 {
      list-style-type: none
  }

  ul.lst-kix_lk9e1l4y6pjk-7 {
      list-style-type: none
  }

  .lst-kix_aus0wjp6e4jb-0>li:before {
      content: "\0025cf   "
  }

  ul.lst-kix_lk9e1l4y6pjk-2 {
      list-style-type: none
  }

  ul.lst-kix_lk9e1l4y6pjk-1 {
      list-style-type: none
  }

  ul.lst-kix_lk9e1l4y6pjk-0 {
      list-style-type: none
  }

  .lst-kix_aus0wjp6e4jb-1>li:before {
      content: "\0025cb   "
  }

  ul.lst-kix_aus0wjp6e4jb-0 {
      list-style-type: none
  }

  ul.lst-kix_aus0wjp6e4jb-1 {
      list-style-type: none
  }

  ul.lst-kix_aus0wjp6e4jb-2 {
      list-style-type: none
  }

  .lst-kix_aus0wjp6e4jb-2>li:before {
      content: "\0025a0   "
  }

  ul.lst-kix_aus0wjp6e4jb-3 {
      list-style-type: none
  }

  .lst-kix_aus0wjp6e4jb-4>li:before {
      content: "\0025cb   "
  }

  ul.lst-kix_aus0wjp6e4jb-4 {
      list-style-type: none
  }

  ul.lst-kix_aus0wjp6e4jb-5 {
      list-style-type: none
  }

  ul.lst-kix_aus0wjp6e4jb-6 {
      list-style-type: none
  }

  .lst-kix_aus0wjp6e4jb-3>li:before {
      content: "\0025cf   "
  }

  ul.lst-kix_aus0wjp6e4jb-7 {
      list-style-type: none
  }

  ul.lst-kix_aus0wjp6e4jb-8 {
      list-style-type: none
  }

  .lst-kix_aus0wjp6e4jb-6>li:before {
      content: "\0025cf   "
  }

  .lst-kix_aus0wjp6e4jb-5>li:before {
      content: "\0025a0   "
  }

  .lst-kix_aus0wjp6e4jb-7>li:before {
      content: "\0025cb   "
  }

  .lst-kix_aus0wjp6e4jb-8>li:before {
      content: "\0025a0   "
  }

  .lst-kix_sg712et45snh-7>li:before {
      content: "\0025cb   "
  }

  .lst-kix_50t07fy6fdzp-0>li:before {
      content: "\0025cf   "
  }

  .lst-kix_50t07fy6fdzp-2>li:before {
      content: "\0025a0   "
  }

  .lst-kix_sg712et45snh-5>li:before {
      content: "\0025a0   "
  }

  .lst-kix_sg712et45snh-3>li:before {
      content: "\0025cf   "
  }

  .lst-kix_ol41fl6sp83t-8>li:before {
      content: "\0025a0   "
  }

  .lst-kix_ol41fl6sp83t-4>li:before {
      content: "\0025cb   "
  }

  .lst-kix_ol41fl6sp83t-6>li:before {
      content: "\0025cf   "
  }

  .lst-kix_50t07fy6fdzp-8>li:before {
      content: "\0025a0   "
  }

  .lst-kix_ol41fl6sp83t-2>li:before {
      content: "\0025a0   "
  }

  .lst-kix_50t07fy6fdzp-4>li:before {
      content: "\0025cb   "
  }

  .lst-kix_50t07fy6fdzp-6>li:before {
      content: "\0025cf   "
  }

  .lst-kix_6br6f2ayrnnl-7>li:before {
      content: "\0025cb   "
  }

  .lst-kix_ol41fl6sp83t-0>li:before {
      content: "\0025cf   "
  }

  .lst-kix_sg712et45snh-1>li:before {
      content: "\0025cb   "
  }

  ul.lst-kix_fvq6o3qlswna-1 {
      list-style-type: none
  }

  ul.lst-kix_fvq6o3qlswna-0 {
      list-style-type: none
  }

  ul.lst-kix_fvq6o3qlswna-3 {
      list-style-type: none
  }

  ul.lst-kix_fvq6o3qlswna-2 {
      list-style-type: none
  }

  ul.lst-kix_fvq6o3qlswna-5 {
      list-style-type: none
  }

  ul.lst-kix_fvq6o3qlswna-4 {
      list-style-type: none
  }

  .lst-kix_q0wckymscz7h-8>li:before {
      content: "\0025a0   "
  }

  .lst-kix_lk9e1l4y6pjk-5>li:before {
      content: "\0025a0   "
  }

  .lst-kix_lk9e1l4y6pjk-7>li:before {
      content: "\0025cb   "
  }

  .lst-kix_q0wckymscz7h-4>li:before {
      content: "\0025cb   "
  }

  .lst-kix_q0wckymscz7h-6>li:before {
      content: "\0025cf   "
  }

  .lst-kix_lk9e1l4y6pjk-1>li:before {
      content: "\0025cb   "
  }

  .lst-kix_lk9e1l4y6pjk-3>li:before {
      content: "\0025cf   "
  }

  ul.lst-kix_fvq6o3qlswna-7 {
      list-style-type: none
  }

  ul.lst-kix_fvq6o3qlswna-6 {
      list-style-type: none
  }

  .lst-kix_q0wckymscz7h-2>li:before {
      content: "\0025a0   "
  }

  ul.lst-kix_fvq6o3qlswna-8 {
      list-style-type: none
  }

  .lst-kix_aqi0npxqv3ej-0>li:before {
      content: "\0025cf   "
  }

  .lst-kix_q0wckymscz7h-0>li:before {
      content: "\0025cf   "
  }

  .lst-kix_aqi0npxqv3ej-2>li:before {
      content: "\0025a0   "
  }

  ul.lst-kix_50t07fy6fdzp-8 {
      list-style-type: none
  }

  ul.lst-kix_50t07fy6fdzp-7 {
      list-style-type: none
  }

  .lst-kix_aqi0npxqv3ej-6>li:before {
      content: "\0025cf   "
  }

  .lst-kix_aqi0npxqv3ej-8>li:before {
      content: "\0025a0   "
  }

  ul.lst-kix_50t07fy6fdzp-6 {
      list-style-type: none
  }

  ul.lst-kix_yeksmn5dx7rs-8 {
      list-style-type: none
  }

  ul.lst-kix_50t07fy6fdzp-5 {
      list-style-type: none
  }

  ul.lst-kix_yeksmn5dx7rs-7 {
      list-style-type: none
  }

  ul.lst-kix_50t07fy6fdzp-4 {
      list-style-type: none
  }

  ul.lst-kix_yeksmn5dx7rs-6 {
      list-style-type: none
  }

  ul.lst-kix_50t07fy6fdzp-3 {
      list-style-type: none
  }

  ul.lst-kix_yeksmn5dx7rs-5 {
      list-style-type: none
  }

  ul.lst-kix_50t07fy6fdzp-2 {
      list-style-type: none
  }

  ul.lst-kix_yeksmn5dx7rs-4 {
      list-style-type: none
  }

  ul.lst-kix_50t07fy6fdzp-1 {
      list-style-type: none
  }

  ul.lst-kix_yeksmn5dx7rs-3 {
      list-style-type: none
  }

  ul.lst-kix_50t07fy6fdzp-0 {
      list-style-type: none
  }

  ul.lst-kix_yeksmn5dx7rs-2 {
      list-style-type: none
  }

  ul.lst-kix_yeksmn5dx7rs-1 {
      list-style-type: none
  }

  .lst-kix_aqi0npxqv3ej-4>li:before {
      content: "\0025cb   "
  }

  ul.lst-kix_yeksmn5dx7rs-0 {
      list-style-type: none
  }

  .lst-kix_aaehyh939m56-6>li:before {
      content: "\0025cf   "
  }

  .lst-kix_aaehyh939m56-7>li:before {
      content: "\0025cb   "
  }

  .lst-kix_aaehyh939m56-4>li:before {
      content: "\0025cb   "
  }

  .lst-kix_aaehyh939m56-5>li:before {
      content: "\0025a0   "
  }

  .lst-kix_aaehyh939m56-8>li:before {
      content: "\0025a0   "
  }

  .lst-kix_aaehyh939m56-0>li:before {
      content: "\0025cf   "
  }

  .lst-kix_aaehyh939m56-1>li:before {
      content: "\0025cb   "
  }

  .lst-kix_aaehyh939m56-2>li:before {
      content: "\0025a0   "
  }

  .lst-kix_aaehyh939m56-3>li:before {
      content: "\0025cf   "
  }

  .lst-kix_fvq6o3qlswna-5>li:before {
      content: "\0025a0   "
  }

  .lst-kix_fvq6o3qlswna-6>li:before {
      content: "\0025cf   "
  }

  .lst-kix_fvq6o3qlswna-8>li:before {
      content: "\0025a0   "
  }

  .lst-kix_fvq6o3qlswna-7>li:before {
      content: "\0025cb   "
  }

  .lst-kix_yeksmn5dx7rs-1>li:before {
      content: "\0025cb   "
  }

  .lst-kix_yeksmn5dx7rs-0>li:before {
      content: "\0025cf   "
  }

  .lst-kix_yeksmn5dx7rs-4>li:before {
      content: "\0025cb   "
  }

  ul.lst-kix_aaehyh939m56-8 {
      list-style-type: none
  }

  ul.lst-kix_aaehyh939m56-7 {
      list-style-type: none
  }

  ul.lst-kix_6br6f2ayrnnl-4 {
      list-style-type: none
  }

  ul.lst-kix_aaehyh939m56-6 {
      list-style-type: none
  }

  ul.lst-kix_6br6f2ayrnnl-3 {
      list-style-type: none
  }

  ul.lst-kix_aaehyh939m56-5 {
      list-style-type: none
  }

  ul.lst-kix_6br6f2ayrnnl-6 {
      list-style-type: none
  }

  ul.lst-kix_aaehyh939m56-4 {
      list-style-type: none
  }

  ul.lst-kix_6br6f2ayrnnl-5 {
      list-style-type: none
  }

  .lst-kix_yeksmn5dx7rs-3>li:before {
      content: "\0025cf   "
  }

  ul.lst-kix_aaehyh939m56-3 {
      list-style-type: none
  }

  ul.lst-kix_6br6f2ayrnnl-8 {
      list-style-type: none
  }

  .lst-kix_axi9p0iwik24-6>li:before {
      content: "\0025cf   "
  }

  ul.lst-kix_aaehyh939m56-2 {
      list-style-type: none
  }

  ul.lst-kix_6br6f2ayrnnl-7 {
      list-style-type: none
  }

  .lst-kix_yeksmn5dx7rs-2>li:before {
      content: "\0025a0   "
  }

  ul.lst-kix_aaehyh939m56-1 {
      list-style-type: none
  }

  .lst-kix_axi9p0iwik24-5>li:before {
      content: "\0025a0   "
  }

  ul.lst-kix_aaehyh939m56-0 {
      list-style-type: none
  }

  .lst-kix_fcukx7ocinev-5>li:before {
      content: "\0025a0   "
  }

  ul.lst-kix_fcukx7ocinev-0 {
      list-style-type: none
  }

  ul.lst-kix_6br6f2ayrnnl-0 {
      list-style-type: none
  }

  ul.lst-kix_fcukx7ocinev-1 {
      list-style-type: none
  }

  .lst-kix_fcukx7ocinev-7>li:before {
      content: "\0025cb   "
  }

  .lst-kix_6br6f2ayrnnl-2>li:before {
      content: "\0025a0   "
  }

  ul.lst-kix_fcukx7ocinev-2 {
      list-style-type: none
  }

  ul.lst-kix_6br6f2ayrnnl-2 {
      list-style-type: none
  }

  .lst-kix_axi9p0iwik24-7>li:before {
      content: "\0025cb   "
  }

  ul.lst-kix_fcukx7ocinev-3 {
      list-style-type: none
  }

  .lst-kix_fcukx7ocinev-6>li:before {
      content: "\0025cf   "
  }

  ul.lst-kix_6br6f2ayrnnl-1 {
      list-style-type: none
  }

  ul.lst-kix_fcukx7ocinev-4 {
      list-style-type: none
  }

  .lst-kix_axi9p0iwik24-8>li:before {
      content: "\0025a0   "
  }

  .lst-kix_6br6f2ayrnnl-3>li:before {
      content: "\0025cf   "
  }

  .lst-kix_6br6f2ayrnnl-4>li:before {
      content: "\0025cb   "
  }

  .lst-kix_6br6f2ayrnnl-5>li:before {
      content: "\0025a0   "
  }

  .lst-kix_fcukx7ocinev-8>li:before {
      content: "\0025a0   "
  }

  .lst-kix_fvq6o3qlswna-4>li:before {
      content: "\0025cb   "
  }

  .lst-kix_fvq6o3qlswna-3>li:before {
      content: "\0025cf   "
  }

  .lst-kix_fvq6o3qlswna-2>li:before {
      content: "\0025a0   "
  }

  ul.lst-kix_fcukx7ocinev-5 {
      list-style-type: none
  }

  .lst-kix_fvq6o3qlswna-0>li:before {
      content: "\0025cf   "
  }

  ul.lst-kix_fcukx7ocinev-6 {
      list-style-type: none
  }

  ul.lst-kix_fcukx7ocinev-7 {
      list-style-type: none
  }

  .lst-kix_fvq6o3qlswna-1>li:before {
      content: "\0025cb   "
  }

  ul.lst-kix_fcukx7ocinev-8 {
      list-style-type: none
  }

  .lst-kix_6br6f2ayrnnl-1>li:before {
      content: "\0025cb   "
  }

  .lst-kix_fcukx7ocinev-4>li:before {
      content: "\0025cb   "
  }

  .lst-kix_axi9p0iwik24-4>li:before {
      content: "\0025cb   "
  }

  .lst-kix_6br6f2ayrnnl-0>li:before {
      content: "\0025cf   "
  }

  ul.lst-kix_q0wckymscz7h-1 {
      list-style-type: none
  }

  ul.lst-kix_q0wckymscz7h-0 {
      list-style-type: none
  }

  .lst-kix_fcukx7ocinev-3>li:before {
      content: "\0025cf   "
  }

  .lst-kix_yeksmn5dx7rs-8>li:before {
      content: "\0025a0   "
  }

  .lst-kix_axi9p0iwik24-3>li:before {
      content: "\0025cf   "
  }

  .lst-kix_fcukx7ocinev-2>li:before {
      content: "\0025a0   "
  }

  .lst-kix_yeksmn5dx7rs-5>li:before {
      content: "\0025a0   "
  }

  ul.lst-kix_q0wckymscz7h-7 {
      list-style-type: none
  }

  .lst-kix_axi9p0iwik24-0>li:before {
      content: "\0025cf   "
  }

  .lst-kix_fcukx7ocinev-1>li:before {
      content: "\0025cb   "
  }

  ul.lst-kix_q0wckymscz7h-6 {
      list-style-type: none
  }

  ul.lst-kix_q0wckymscz7h-8 {
      list-style-type: none
  }

  .lst-kix_yeksmn5dx7rs-7>li:before {
      content: "\0025cb   "
  }

  ul.lst-kix_q0wckymscz7h-3 {
      list-style-type: none
  }

  .lst-kix_axi9p0iwik24-2>li:before {
      content: "\0025a0   "
  }

  ul.lst-kix_q0wckymscz7h-2 {
      list-style-type: none
  }

  .lst-kix_yeksmn5dx7rs-6>li:before {
      content: "\0025cf   "
  }

  ul.lst-kix_q0wckymscz7h-5 {
      list-style-type: none
  }

  .lst-kix_axi9p0iwik24-1>li:before {
      content: "\0025cb   "
  }

  .lst-kix_fcukx7ocinev-0>li:before {
      content: "\0025cf   "
  }

  ul.lst-kix_q0wckymscz7h-4 {
      list-style-type: none
  }

  ul.lst-kix_ol41fl6sp83t-3 {
      list-style-type: none
  }

  .lst-kix_sg712et45snh-6>li:before {
      content: "\0025cf   "
  }

  ul.lst-kix_ol41fl6sp83t-4 {
      list-style-type: none
  }

  ul.lst-kix_ol41fl6sp83t-5 {
      list-style-type: none
  }

  ul.lst-kix_ol41fl6sp83t-6 {
      list-style-type: none
  }

  ul.lst-kix_ol41fl6sp83t-7 {
      list-style-type: none
  }

  .lst-kix_sg712et45snh-4>li:before {
      content: "\0025cb   "
  }

  .lst-kix_sg712et45snh-8>li:before {
      content: "\0025a0   "
  }

  ul.lst-kix_ol41fl6sp83t-8 {
      list-style-type: none
  }

  ul.lst-kix_sg712et45snh-8 {
      list-style-type: none
  }

  .lst-kix_50t07fy6fdzp-3>li:before {
      content: "\0025cf   "
  }

  .lst-kix_sg712et45snh-2>li:before {
      content: "\0025a0   "
  }

  .lst-kix_ol41fl6sp83t-7>li:before {
      content: "\0025cb   "
  }

  ul.lst-kix_ol41fl6sp83t-0 {
      list-style-type: none
  }

  ul.lst-kix_ol41fl6sp83t-1 {
      list-style-type: none
  }

  .lst-kix_50t07fy6fdzp-1>li:before {
      content: "\0025cb   "
  }

  ul.lst-kix_ol41fl6sp83t-2 {
      list-style-type: none
  }

  .lst-kix_ol41fl6sp83t-5>li:before {
      content: "\0025a0   "
  }

  .lst-kix_50t07fy6fdzp-7>li:before {
      content: "\0025cb   "
  }

  .lst-kix_ol41fl6sp83t-3>li:before {
      content: "\0025cf   "
  }

  .lst-kix_50t07fy6fdzp-5>li:before {
      content: "\0025a0   "
  }

  .lst-kix_6br6f2ayrnnl-8>li:before {
      content: "\0025a0   "
  }

  .lst-kix_6br6f2ayrnnl-6>li:before {
      content: "\0025cf   "
  }

  .lst-kix_ol41fl6sp83t-1>li:before {
      content: "\0025cb   "
  }

  ul.lst-kix_aqi0npxqv3ej-1 {
      list-style-type: none
  }

  ul.lst-kix_aqi0npxqv3ej-2 {
      list-style-type: none
  }

  ul.lst-kix_aqi0npxqv3ej-3 {
      list-style-type: none
  }

  ul.lst-kix_aqi0npxqv3ej-4 {
      list-style-type: none
  }

  .lst-kix_sg712et45snh-0>li:before {
      content: "\0025cf   "
  }

  ul.lst-kix_aqi0npxqv3ej-0 {
      list-style-type: none
  }

  ul.lst-kix_sg712et45snh-7 {
      list-style-type: none
  }

  ul.lst-kix_sg712et45snh-6 {
      list-style-type: none
  }

  ul.lst-kix_sg712et45snh-5 {
      list-style-type: none
  }

  ul.lst-kix_sg712et45snh-4 {
      list-style-type: none
  }

  ul.lst-kix_sg712et45snh-3 {
      list-style-type: none
  }

  ul.lst-kix_aqi0npxqv3ej-5 {
      list-style-type: none
  }

  ul.lst-kix_sg712et45snh-2 {
      list-style-type: none
  }

  ul.lst-kix_aqi0npxqv3ej-6 {
      list-style-type: none
  }

  ul.lst-kix_sg712et45snh-1 {
      list-style-type: none
  }

  ul.lst-kix_aqi0npxqv3ej-7 {
      list-style-type: none
  }

  ul.lst-kix_sg712et45snh-0 {
      list-style-type: none
  }

  ul.lst-kix_aqi0npxqv3ej-8 {
      list-style-type: none
  }

  .lst-kix_lk9e1l4y6pjk-8>li:before {
      content: "\0025a0   "
  }

  .lst-kix_q0wckymscz7h-7>li:before {
      content: "\0025cb   "
  }

  .lst-kix_lk9e1l4y6pjk-6>li:before {
      content: "\0025cf   "
  }

  .lst-kix_q0wckymscz7h-5>li:before {
      content: "\0025a0   "
  }

  .lst-kix_lk9e1l4y6pjk-0>li:before {
      content: "\0025cf   "
  }

  .lst-kix_lk9e1l4y6pjk-4>li:before {
      content: "\0025cb   "
  }

  ul.lst-kix_axi9p0iwik24-8 {
      list-style-type: none
  }

  .lst-kix_q0wckymscz7h-3>li:before {
      content: "\0025cf   "
  }

  .lst-kix_lk9e1l4y6pjk-2>li:before {
      content: "\0025a0   "
  }

  ul.lst-kix_axi9p0iwik24-4 {
      list-style-type: none
  }

  ul.lst-kix_axi9p0iwik24-5 {
      list-style-type: none
  }

  ul.lst-kix_axi9p0iwik24-6 {
      list-style-type: none
  }

  ul.lst-kix_axi9p0iwik24-7 {
      list-style-type: none
  }

  ul.lst-kix_axi9p0iwik24-0 {
      list-style-type: none
  }

  ul.lst-kix_axi9p0iwik24-1 {
      list-style-type: none
  }

  ul.lst-kix_axi9p0iwik24-2 {
      list-style-type: none
  }

  .lst-kix_q0wckymscz7h-1>li:before {
      content: "\0025cb   "
  }

  ul.lst-kix_axi9p0iwik24-3 {
      list-style-type: none
  }

  li.li-bullet-0:before {
      margin-left: -18pt;
      white-space: nowrap;
      display: inline-block;
      min-width: 18pt
  }

  .lst-kix_aqi0npxqv3ej-1>li:before {
      content: "\0025cb   "
  }

  .lst-kix_aqi0npxqv3ej-3>li:before {
      content: "\0025cf   "
  }

  .lst-kix_aqi0npxqv3ej-7>li:before {
      content: "\0025cb   "
  }

  .lst-kix_aqi0npxqv3ej-5>li:before {
      content: "\0025a0   "
  }

  ol {
      margin: 0;
      padding: 0
  }

  table td,
  table th {
      padding: 0
  }

  .c21 {
      border-right-style: solid;
      padding: 5pt 5pt 5pt 5pt;
      border-bottom-color: #000000;
      border-top-width: 1pt;
      border-right-width: 1pt;
      border-left-color: #000000;
      vertical-align: top;
      border-right-color: #000000;
      border-left-width: 1pt;
      border-top-style: solid;
      border-left-style: solid;
      border-bottom-width: 1pt;
      width: 234pt;
      border-top-color: #000000;
      border-bottom-style: solid
  }

  .c7 {
      border-right-style: solid;
      padding: 5pt 5pt 5pt 5pt;
      border-bottom-color: #000000;
      border-top-width: 1pt;
      border-right-width: 1pt;
      border-left-color: #000000;
      vertical-align: top;
      border-right-color: #000000;
      border-left-width: 1pt;
      border-top-style: solid;
      border-left-style: solid;
      border-bottom-width: 1pt;
      width: 117pt;
      border-top-color: #000000;
      border-bottom-style: solid
  }

  .c9 {
      margin-left: 144pt;
      padding-top: 0pt;
      padding-left: 0pt;
      padding-bottom: 0pt;
      line-height: 1.15;
      orphans: 2;
      widows: 2;
      text-align: left
  }

  .c14 {
      -webkit-text-decoration-skip: none;
      color: #000000;
      text-decoration: underline;
      vertical-align: baseline;
      text-decoration-skip-ink: none;
      font-size: 11pt;
      font-style: normal
  }

  .c1 {
      color: #000000;
      font-weight: 400;
      text-decoration: none;
      vertical-align: baseline;
      font-size: 11pt;
      font-family: "Poppins";
      font-style: normal
  }

  .c15 {
      color: #000000;
      font-weight: 400;
      text-decoration: none;
      vertical-align: baseline;
      font-family: "Arial";
      font-style: normal
  }

  .c20 {
      margin-left: 36pt;
      padding-top: 0pt;
      padding-left: 0pt;
      padding-bottom: 0pt;
      line-height: 1.15;
      text-align: left
  }

  .c18 {
      margin-left: 108pt;
      padding-top: 0pt;
      padding-left: 0pt;
      padding-bottom: 0pt;
      line-height: 1.15;
      text-align: left
  }

  .c13 {
      margin-left: 72pt;
      padding-top: 0pt;
      padding-left: 0pt;
      padding-bottom: 0pt;
      line-height: 1.15;
      text-align: left
  }

  .c12 {
      padding-top: 0pt;
      padding-bottom: 0pt;
      line-height: 1.15;
      text-align: left;
      height: 11pt
  }

  .c4 {
      text-decoration-skip-ink: none;
      font-size: 10pt;
      -webkit-text-decoration-skip: none;
      color: #1155cc;
      text-decoration: underline
  }

  .c19 {
      color: #000000;
      text-decoration: none;
      vertical-align: baseline;
      font-style: normal
  }

  .c11 {
      border-spacing: 0;
      border-collapse: collapse;
      margin-right: auto
  }

  .c2 {
      padding-top: 0pt;
      padding-bottom: 0pt;
      line-height: 1.0;
      text-align: left
  }

  .c24 {
      margin-left: 72pt;
      border-spacing: 0;
      border-collapse: collapse;
      margin-right: auto
  }

  .c25 {
      padding-top: 0pt;
      padding-bottom: 0pt;
      line-height: 1.15;
      text-align: left
  }

  .c22 {
      text-decoration-skip-ink: none;
      -webkit-text-decoration-skip: none;
      text-decoration: underline
  }

  .c27 {
      background-color: #ffffff;
      max-width: 468pt;
      padding: 72pt 72pt 72pt 72pt
  }

  .c10 {
      orphans: 2;
      widows: 2
  }

  .c26 {
      width: 33%;
      height: 1px
  }

  .c6 {
      font-weight: 400;
      font-family: "Poppins"
  }

  .c16 {
      font-weight: 700;
      font-family: "Poppins"
  }

  .c5 {
      color: inherit;
      text-decoration: inherit
  }

  .c0 {
      padding: 0;
      margin: 0
  }

  .c17 {
      font-size: 11pt
  }

  .c23 {
      background-color: #f3f3f3
  }

  .c3 {
      height: 0pt
  }

  .c8 {
      font-size: 10pt
  }

  .title {
      padding-top: 0pt;
      color: #000000;
      font-size: 26pt;
      padding-bottom: 3pt;
      font-family: "Arial";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left
  }

  .subtitle {
      padding-top: 0pt;
      color: #666666;
      font-size: 15pt;
      padding-bottom: 16pt;
      font-family: "Arial";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left
  }

  li {
      color: #000000;
      font-size: 11pt;
      font-family: "Arial"
  }

  p {
      margin: 0;
      color: #000000;
      font-size: 11pt;
      font-family: "Arial"
  }

  h1 {
      padding-top: 20pt;
      color: #000000;
      font-size: 20pt;
      padding-bottom: 6pt;
      font-family: "Arial";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left
  }

  h2 {
      padding-top: 18pt;
      color: #000000;
      font-size: 16pt;
      padding-bottom: 6pt;
      font-family: "Arial";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left
  }

  h3 {
      padding-top: 16pt;
      color: #434343;
      font-size: 14pt;
      padding-bottom: 4pt;
      font-family: "Arial";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left
  }

  h4 {
      padding-top: 14pt;
      color: #666666;
      font-size: 12pt;
      padding-bottom: 4pt;
      font-family: "Arial";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left
  }

  h5 {
      padding-top: 12pt;
      color: #666666;
      font-size: 11pt;
      padding-bottom: 4pt;
      font-family: "Arial";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left
  }

  h6 {
      padding-top: 12pt;
      color: #666666;
      font-size: 11pt;
      padding-bottom: 4pt;
      font-family: "Arial";
      line-height: 1.15;
      page-break-after: avoid;
      font-style: italic;
      orphans: 2;
      widows: 2;
      text-align: left
  }
} 