@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.less';

@primary-color: #2bbe50;
@font-family: 'Poppins', Helvetica, Arial, sans-serif;

h1.ant-typography {
  color: @primary-color;
  font-weight: 700;
}

.ant-spin-text {
  color: @primary-color;
}
